{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "react-intl", {
        "messagesDir": "./dist/messages"
      }
    ]
  ]
}