html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#boilerplate {
    font-size: 70px;
    left: 50%;
    letter-spacing: 40px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}